body
{
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
.head
{
    text-align: center;
    color: white;
    background-color: lightgray;
}

.image
{
    width: 500px;
    height: 500px;
}

.card  
{
    text-align: center;
    border: 2px red solid;
    width: 600px;
    margin: 0px auto;

}

.card ul,.card ol
{
    text-align: left;
}